<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        

        <menuitem id="menu_wxwork_message" name="Message" parent="wxwork_base.menu_wxwork" sequence="40" />

        <menuitem id="menu_wxwork_message_template" name="Template" parent="menu_wxwork_message"
                  action="action_message_template_tree_all" sequence="10"/>

    </data>
</odoo>
