// = Settings
// ============================================================================
// No CSS hacks, variables overrides only

.o-settings-form-view .o_base_settings {
    --settings__tab-bg: #{$o-gray-100};
    --settings__tab-bg--active: #{$o-gray-300};
    --settings__tab-color: #{$o-gray-700};
    --settings__title-bg: #{$o-gray-100};
}
