///
/// Odoo Dark-Mode
///
///

// = Colors
// ============================================================================

$o-white: #000 !default;
$o-black: #fff !default;

// Dark mode
$o-gray-100: #191c24 !default;
$o-gray-200: #242733 !default;
$o-gray-300: #3f4149 !default;
$o-gray-400: #5f6167 !default;
$o-gray-500: #797a80 !default;
$o-gray-600: #94959a !default;
$o-gray-700: #b0b0b4 !default;
$o-gray-800: #cccccf !default;
$o-gray-900: #e9e9eb !default;

$o-default-color: #bb86fc !default;
$o-brand-primary: #00dac5 !default;

$o-success: #28a745 !default;
$o-info: #74dcf3 !default;
$o-warning: #ff7b00 !default;
$o-danger: #ff0020 !default;

// = Text
// ============================================================================

$o-main-text-color: $o-gray-800 !default;
$o-main-link-color: $o-brand-primary !default;
$o-default-color: $o-brand-odoo !default;
$o-main-favorite-color: #f3cc00 !default;
$o-main-code-color: #ff7dd9 !default;

// = Fine-tune contextual text colors.
$o-theme-text-colors: (
	'success': #03e02a,
	'info': #00c4fd,
	'warning': #ffb100,
	'danger': #ff4842,
	'odoo': #c392ff
) !default;

// = Webclient
// ============================================================================
$o-webclient-color-scheme: dark !default;
$o-webclient-background-color: $o-gray-100 !default;
$o-view-background-color: $o-gray-200 !default;

// = Inputs
$o-input-border-required: $o-black !default;

// = Button Secondary
$o-btn-secondary-bg: $o-view-background-color !default;
$o-btn-secondary-hover-bg: $o-gray-100 !default;
$o-btn-secondary-hover-border: $o-btn-secondary-hover-bg !default;

// = Button Light
$o-btn-light-bg: $o-gray-200 !default;
$o-btn-light-background-hover: $o-gray-300 !default;

// = Components
// ============================================================================

// = List-group
$o-list-group-active-color: $o-gray-900 !default;
$o-list-group-active-bg: rgba(saturate(adjust-hue($o-info, 15), 1.8), 0.5) !default;

// = Navbar
$o-navbar-bg: $o-gray-200 !default;
$-backend-entry-hover-bg: $o-gray-100 !default; // <- TO DO: use a general variable rather than a scoped one

// = Sidebar
$o-sidebar-bg: $o-gray-200 !default;


// = Modal
$modal-content-bg: $o-view-background-color !default;
$modal-backdrop-bg: $o-white !default;
