///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Colors
$o-white: #fff !default;
$o-black: #000 !default;

$o-gray-100: #f6f7fa !default;
$o-gray-200: #e0e2e6 !default;
$o-gray-300: #c9ccd2 !default;
$o-gray-400: #9da1aa !default;
$o-gray-500: #80848f !default;
$o-gray-600: #626774 !default;
$o-gray-700: #4a4f59 !default;
$o-gray-800: #353840 !default;
$o-gray-900: #212529 !default;

// 默认主题颜色
// $o-default-color: #714b67 !default;
$o-default-color: #3975c6 !default;
$o-default-primary-color: #017e84 !default;
$o-default-primary-color-light: scale-color($o-default-primary-color, $lightness: 6%) !default;

$o-brand-odoo: $o-default-color !default;
$o-brand-primary: $o-default-primary-color !default;
$o-brand-secondary: #8f8f8f !default;
$o-brand-lightsecondary: $o-gray-100 !default;

$o-list-group-header-color: $o-gray-900 !default;
$o-list-footer-color: $o-gray-900 !default;
$o-list-footer-bg-color: $o-white !default;
$o-list-footer-font-weight: 500 !default;

$o-dropdown-box-shadow: 0 12px 14px -10px rgba(black, 0.25) !default;

// o-inputs
$o-input-padding-y: 1px !default;
$o-input-padding-x: 0 !default;

$o-input-border-required: $o-gray-900 !default;

// Badges
$o-badge-min-width: 2.7ch !default !default;
