$o-form-lightsecondary: $o-gray-200 !default;

$o-tooltip-background-color: $o-view-background-color !default;
$o-tooltip-color: $o-main-text-color !default;
$o-tooltip-arrow-color: $o-main-text-color !default;

// Needed for having no spacing between sheet and mail body in mass_mailing:
// Different required cancel paddings between web and web_theme
$o-sheet-cancel-tpadding: $o-horizontal-padding !default;
$o-sheet-cancel-bpadding: $o-horizontal-padding + $o-sheet-vpadding !default;
