.social_sidebar {
  transition: all .5s ease;
  position: fixed;
  top: 150px;
  // right: -145px;
  right: -155px;
  font-size: 0;
  line-height: 0;
  z-index: 100;
  text-align: right;

  a {
    font-size: 14px;
    width: 200px;
    height: 40px;
    display: flex;
    line-height: 40px;
    background-color: #ff4a00;
    margin-bottom: 2px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    i {
      margin-left: 4px;
      color: #FFFFFF;
    }

    span {
      width: 150px;
      vertical-align: middle;
      color: #FFFFFF;
      //margin-right: 12px;
    }

    img {
      display: none;
    }
  }
}

.social_sidebar:hover {
  right: 5px;

  .wechat_attention_qrcode {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      display: block;
      margin: 0px 0px 5px 48px;
      // flex: 1;
      width: 110px !important;
      height: 110px !important;
    }
  }
}

@media (max-width: 576px) {
  .social_sidebar {
    top: 150px;
    display: none
  }
}