// = Drawer menu Variables
// ============================================================================
// No CSS hacks, variables overrides only

$o-drawer-menu-caption-color: $o-black !default;
$o-drawer-menu-caption-shadow: none !default;
