$o-drawer-menu-font-size-base: 1.25rem;
$o-drawer-menu-container-size: 850px;
$o-drawer-menu-app-icon-max-width: 70px;

$o-drawer-menu-caption-color: $o-white !default;
$o-drawer-menu-caption-shadow: 0 1px 1px rgba($o-black, 0.8) !default;
