.o_main_navbar {
    .o_switch_language_menu {
        // margin-left: 6px;
        .o_language_flag {
            height: 25px;
            width: 25px;
            object-fit: cover;
            // margin-right: 5px;
        }

        .lang_flag {
            min-width: 50px;

            .o_lang_flag {
                max-height: 20px;
                max-width: 30px;
            }
        }
    }
}