[Unit]
Description=Wecom Sdk Api
After = network.target

[Service]
Type=forking
ExecStart=python3  /code/app/main.py
StandardOutput=file:/var/log/wecom/wecom-server.log
Restart=always
# 程序退出后的等待秒数
RestartSec=5s

[Install]
WantedBy=multi-user.target