[Unit]
Description=Wecom Sdk Api
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /fastapi/main.py
StandardOutput=file:/var/log/wecom/wecom-server.log
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target