.res_config_wecom_navigation_menu {
    sapn {
        margin-top: 0;
        margin-left: 4px;
        margin-bottom: 0.5rem;
        font-weight: bold;
        line-height: 1.2;
        color: #091124;
    }
}