.o_field_DisplayPasswordChar {
    width: 100% !important;

    .input-group {

        border: $input-border-width solid var(--o-input-border-color);

        &[data-encrypted="true"] {
            font-family: "password";
        }

        span,
        input {
            &[data-encrypted="true"] {
                font-family: "password";
            }

            &[data-encrypted="false"] {
                font-family: inherit;
            }
        }

        // &:focus {
        //     @include print-variable(o-input-border-color, $o-brand-primary);
        //     box-shadow: none;
        //     // background-color: #FFFFFF;
        //     border-color: $o-brand-primary;
        // }

        // &:focus-within {
        //     @include print-variable(o-input-border-color, $o-brand-primary);
        // }

        .form-control,
        button {
            border-radius: 0;
        }

        .form-control {
            &:focus {
                // @include print-variable(o-input-border-color, $o-brand-primary);
                box-shadow: none;
                // background-color: #FFFFFF;
                border-color: transparent;
            }

            &:focus-within {
                // @include print-variable(o-input-border-color, $o-brand-primary);
            }
        }
    }
}