<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_wxwork_attendance_main"
            name="Attendances"
            parent="wxwork_base.menu_wxwork_root"
            sequence="3"/>

            <menuitem
                id="menu_wxwork_attendance_record"
                name="Attendance Record"
                action="hr_attendance.hr_attendance_action"
                parent="menu_wxwork_attendance_main"
                sequence="1"/>
                
            

            <menuitem
                id="menu_wxwork_attendance_pull"
                name="Attendance pull"
                parent="menu_wxwork_attendance_main"
                sequence="3"/>

                <menuitem
                    id="menu_wxwork_attendance_rule_pull"
                    name="Attendance rules"
                    action="open_module_tree_attendance_rule"
                    parent="menu_wxwork_attendance_pull"
                    sequence="1"/>
                <menuitem
                    id="menu_wxwork_attendance_data_pull"
                    name="Attendance data"
                    action="open_module_tree_attendance_data"
                    parent="menu_wxwork_attendance_pull"
                    sequence="2"/>

        <menuitem 
            id="menu_wxwork_attendance_sync_auto" 
            name="Sync Attendance" 
            parent="wxwork_base.menu_wxwork_cron" 
            action="ir_cron_act_attendance" 
            sequence="3"/>
    </data>
</odoo>