@font-face {
    font-family: "password";
    src: url("/wxwork_widget/static/src/fonts/password.ttf");
}

.o_field_widget {
    &.o_field_showpassword_sapn {
        position: relative;
        width: 100% !important;
        // border-radius: 5px;
        // border: 1px solid $primary;
        border-bottom: 1px solid $primary;
        font-size: $font-size-sm;
        color: $o-brand-primary;
        // font-weight: $badge-font-weight;
        text-align: left;
        padding-right: 20px;
        // margin-right: 20px;
        word-break: break-word;
        vertical-align: middle !important;
        min-height: 26px;
        padding-top: 5px;
    }

    .o_show_password_button {
        width: 36px;
        max-height: 26px !important;
        cursor: pointer;
        border-radius: 0px !important;
        // @include o-position-absolute($top: 0, $right: 0);
        // position: absolute;
        // top: 0;
        right: 0;
    }

    &.o_field_showpassword_sapn[disguising-password] {
        font-family: "password" !important;
    }

    &.o_field_showpassword {
        display: flex !important;
        flex-wrap: nowrap !important;
        // flex: 1;
        width: 100% !important;
        border: 0 !important;
        justify-content: space-between;


        input[disguising-password] {
            font-family: "password" !important;
        }

        .o_field_showpassword_input {
            min-width: 0;
            flex: 1 1 auto;
            border: 1px solid $primary !important;
            border-radius: 0px !important;
            // font-size: $font-size-sm !important;
            color: $o-brand-primary !important;
            font-size: $font-size-sm !important;
            font-weight: $badge-font-weight !important;
            text-align: left !important;
            word-break: break-word !important;
            min-height: 26px;
            // font: 400 12px Arial;
        }

        .o_show_password_button {
            width: 36px;
            cursor: pointer;
            border-radius: 0px !important;
            right: 0 !important;
            max-height: 26px !important;
        }
    }

}