.style_default {
    .theme-panel {
        width: 320px;
        background: $eis-default-theme-panel-bg-color !important;
        display: block;

        .theme-options {
            .theme-option {
                color: $eis-default-theme-panel-font-color;
                border-top: 1px solid $eis-default-theme-panel-line-color;

                &.launcher-bg-option {
                    color: $eis-default-theme-panel-font-color;
                    border-top: 1px solid $eis-default-theme-panel-line-color !important;
                    // padding-top: 15px !important;

                    span {
                        color: $eis-default-theme-panel-font-color !important;
                        // display: block;
                        // width: auto;
                    }

                }
            }
        }

        .theme-close {
            background: url(/rainbow_community_theme/static/src/img/icon-color-close.png) center no-repeat $eis-default-theme-panel-bg-color !important;

            &:hover {
                background-color: darken($eis-default-theme-panel-bg-color, 10%) !important;
            }
        }


    }
}