.wecom_sync_result_dialog {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .o_group {
        margin: 0 !important;

        .o_horizontal_separator {
            margin: 8px 8px 8px 0 !important;
        }
    }

    .o_form_view,
    .o_form_label {
        line-height: 1.2 !important;
    }
}