// = Navbar Variables
// ============================================================================
// No CSS hacks, variables overrides only
$o-navbar-border-bottom: 1px solid $o-border-color !default;

$o-navbar-background: $o-view-background-color !default;
$o-navbar-entry-color: $o-gray-900 !default;

$o-navbar-drawer-menu-badge-bg: $o-default-primary-color !default;
