.o_lock_client {
	background-image: url('/web_theme/static/img/bg/bg11.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f9f9f9;
	height: 100%;
	margin: 0;
	overflow: hidden !important;

	.container {
		width: 100%;
		max-width: 100% !important;
		margin: 0 auto;
		padding: 0 0.5rem;

		#lock-screen {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;

			.lock-card {
				margin-left: 0 !important;
				right: auto;
				left: auto;
				width: 33.33333%;
				// background-color: #fff;
				transition: box-shadow 0.25s;
				margin: 0.5rem 0 1rem 0;

				.lock-user-info {
					.lock-avatar {
						border-style: none;
						box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
							0 8px 10px -7px rgba(0, 0, 0, 0.2);
					}

					.lock-name {
						font-size: 1.64rem;
						line-height: 110%;
						margin: 0.82rem 0 0.656rem 0;
					}

					.email,
					.mobile {
						// color: #eee;
						display: block;
						font-size: 14px;
						line-height: 14px;
						margin-bottom: 10px;
					}
				}

				.input-group {
					i.bi {
						font-size: 20px;
						color: #6c757d;
					}
				}

				.countdown-line,
				.username-group,
				.password-group,
				.submit-line {
					padding: 0.5rem 1.5rem !important;
				}

				.alert-line {
					// margin: 0.5rem 1.5rem !important;
					display: flex !important;
					justify-content: center !important;
					margin-left: auto;
					margin-right: auto;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}

				label {
					color: #9e9e9e !important;
					font-weight: normal;
					font-size: 1rem;
				}

				.input-group {
					position: relative;
					display: flex;
					flex-wrap: wrap;
					align-items: stretch;
					width: 100%;

					.input-group-text {
						border: none;
					}

					input#password:valid {
						font-family: 'password';
						padding-right: calc(1.5em + 0.75rem);
					}

					input#login,
					input#password {
						// display: block;
						// width: 100%;
						border: none;
						border-bottom: 1px solid #9e9e9e;
						border-radius: 0 !important;
						// outline: none !important;
						// background-color: transparent !important;
						// background-clip: content-box !important;
						// box-shadow: none !important;
					}

					button#show_or_hide_password:focus {
						box-shadow: none !important;
					}
				}

				.form-control:focus {
					border: none;
					border-bottom: 1.5px solid #9e9e9e !important;
					box-shadow: none !important;
				}

				.was-validated .form-control:valid,
				.form-control.is-valid {
					border: none;
					border-radius: 0 !important;
					border-bottom: 1px solid #28a745 !important;
				}

				.was-validated .form-control:invalid,
				.form-control.is-invalid {
					border: none;
					border-radius: 0 !important;
					border-bottom: 1px solid #dc3545 !important;
				}

				/* 清除input在浏览器下的背景色 */
				input:-webkit-autofill {
					transition: background-color 5000s ease-in-out 0s;
				}

				.o_unlock_button {
					color: #fff;
					right: auto;
					left: auto;
					width: 100%;
					margin-left: auto;
					text-transform: capitalize;
					border-radius: 150px !important;
					border: none;
					line-height: 36px;
					// height: 36px;
					font-size: 1.6rem;
					outline: 0;

					background: #8e24aa;
					background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
					background: linear-gradient(45deg, #8e24aa, #ff6e40) !important;
				}

				.o_lock_logout,
				.o_lock_forgot {
					cursor: pointer;
					font-size: 0.9rem !important;
					margin: 0 !important;
					text-decoration: none;
					color: #3949ab;
				}
			}
		}
	}

	.content-overlay {
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		cursor: pointer;
		transition: all 0.7s;
	}
}
