<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!--  ROOT   -->
        <menuitem 
            id="menu_wxwork_material_root" 
            name="Enterprise WeChat Material management" 
            groups="base.group_user" 
            web_icon="wxwork_material,static/description/icon.png" 
            sequence="3"/>
            
            <menuitem 
                id="menu_wxwork_message" 
                name="Material" 
                groups="base.group_user" 
                parent="menu_wxwork_material_root"
                action="action_view_wxwork_material" 
                sequence="1"/>
            
               
            <menuitem 
                id="menu_wxwork_configuration" 
                name="Settings" 
                parent="menu_wxwork_material_root" 
                sequence="900"
                action="wxwork_base.wxwork_config_settings_action" 
                groups="base.group_system"/>

    </data>
</odoo>
