[Unit]
Description=Wecom Sdk Api
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
WorkingDirectory=/fastapi
ExecStart=/usr/bin/python3 uvicorn app.main:app --host 0.0.0.0 --port 8000 --logfile /var/log/wecomsdk/wecomsdk-server.log
Restart=always


[Install]
WantedBy=multi-user.target