[Unit]
Description=Wecom Sdk Api
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
WorkingDirectory=/code
ExecStart=uvicorn app.main:app  --port 8000
Restart=always


[Install]
WantedBy=multi-user.target

