// = Main Footer Variables
// ============================================================================
$o-footer-height-xs: 46px !default;
$o-footer-height-lg: 40px !default;
$o-footer-height: $o-footer-height-lg !default;

$o-footer-background: $o-view-background-color !default;