.o_settings_container {
    .o_setting_box {
        .o_setting_left_pane {
            .o_wecom_pro_label {
                position: absolute;
                top: 0px;
                right: 40px;
            }
        }
    }
}