.o_form_field_jsoneditor {
    width: 100% !important;
    height: 100% !important;
    // height: 660px !important;

    .o_form_field_jsoneditor_ditor {
        width: 100% !important;
        height: 600px !important;
    }

    .jsoneditor {
        width: 100% !important;
        height: 600px !important;

        .jsoneditor-menu {
            span.jsoneditor-renderMode {
                font-size: 8pt;
                position: absolute;
                right: 0;
                top: 0;
                padding: 10px;
            }

            span.jsoneditor-translate {
                position: absolute;
                color: #ffffff;
                padding: 6px !important;
                margin-left: 4px !important;
            }

            i.jsoneditor-translate {
                position: absolute;
                padding: 10px;
            }

            .jsoneditor-search {
                .jsoneditor-frame {
                    display: flex !important;
                }
            }
        }
    }
}