.o_form_field_markdown {

  .md-editor {
    .md-header {
      .md-controls {
        .o_field_translate {
          font-size: 15px !important;
        }
      }
    }
  }

  .md-editor.md-fullscreen-mode {
    .md-header {
      .md-controls {
        .o_field_translate {
          display: none !important;
        }
      }
    }
  }



  .dz-preview {
    display: inline-block;
    margin: 0.5em;

    .dz-success-mark svg {
      background-color: green;
      border-radius: 30px;
      width: 32px;
      height: 32px;
    }

    .dz-error-mark svg {
      background: red;
      border-radius: 30px;
      width: 32px;
      height: 32px;
    }
  }
}

// .o_form_field_markdown :nth-child(2) {
//   // 隐藏第二个 元素
//   display: none;
// }