.o_field_wecom_one2many {
    .o_field_widget.o_field_copy {
        border-radius: 0 !important;
        font-size: 8px !important;

        .o_clipboard_button.o_btn_char_copy {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            font-size: 8px !important;
        }
    }
}

.tooltip {
    .tooltip-inner {
        .o_field_wecom_one2many_container {
            .o_field_wecom_one2many_header {
                // border-bottom: 1px solid #dee2e6;
                background-color: $o-tooltip-title-background-color;
                font-weight: bold;
                padding: 5px 8px;
            }

            .o_field_wecom_one2many_text {
                max-width: 100vw;
                max-width: 300px !important;
            }
        }
    }
}