<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!--  ROOT   -->
        <menuitem 
            id="menu_wxwork_message_root" 
            name="Enterprise WeChat Message" 
            groups="base.group_user" 
            web_icon="wxwork_message,static/description/icon.png" 
            sequence="3"/>
            
            <menuitem 
                id="menu_wxwork_message" 
                name="Message" 
                groups="base.group_user" 
                parent="menu_wxwork_message_root"
                sequence="1"/>
            
                <menuitem 
                    id="menu_wxwork_message_test_sending" 
                    name="Test sending message " 
                    parent="menu_wxwork_message"
                    action="action_view_wxwork_message" 
                    groups="base.group_no_one"
                    sequence="10"/>
                
                <menuitem 
                    id="menu_wxwork_message_template" 
                    name="Message Template" 
                    parent="menu_wxwork_message"
                    action="wxwork_template_action" 
                    sequence="15"/>

            <menuitem 
                    id="menu_wxwork_configuration" 
                    name="Settings" 
                    parent="menu_wxwork_message_root" 
                    sequence="900"
                    action="wxwork_base.wxwork_config_settings_action" 
                    groups="base.group_system"/>

        <!-- <menuitem 
            id="menu_wxwork_message" 
            name="Message" 
            parent="wxwork_smart_hrm.menu_wxwork_hrm_root" 
            sequence="97" /> -->

            <!-- <menuitem 
                id="menu_wxwork_message_send" 
                name="Send Message" 
                parent="menu_wxwork_message"
                action="action_view_wxwork_mail" 
                sequence="10"/> -->

            <!-- <menuitem 
                id="menu_wxwork_message_template" 
                name="Message Template" 
                parent="menu_wxwork_message"
                action="wxwork_template_action" 
                sequence="15"/> -->

            <!-- <menuitem 
                id="menu_message_template" 
                name="Template(EMail)" 
                parent="menu_wxwork_message"
                action="action_view_wxwork_message_template_tree_all" 
                sequence="20"/> -->

    </data>
</odoo>
