<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_wecom_agent_list" name="Application list" parent="wecom_base.menu_wecom_agent" sequence="1" action="wecom_api.action_view_wecom_apps_list" groups="base.group_erp_manager"/>

        <menuitem id="menu_wecom_agent_service" name="Application receive event service" parent="wecom_base.menu_wecom_agent" sequence="2" action="wecom_api.wecom_app_callback_service_list_action" groups="base.group_erp_manager"/>

        <menuitem id="menu_wecom_agent_config" name="Application Parameters" parent="wecom_base.menu_wecom_agent" sequence="3" action="wecom_api.wecom_app_config_list_action" groups="base.group_erp_manager"/>

        <menuitem id="menu_wecom_agent_type" name="Application Type" parent="wecom_base.menu_wecom_agent" sequence="4" groups="base.group_erp_manager"/>

        <menuitem id="menu_wecom_agent_type_list" name="Type" parent="wecom_api.menu_wecom_agent_type" sequence="1" action="wecom_api.wecom_app_type_list_action" groups="base.group_erp_manager"/>

        <menuitem id="menu_wecom_agent_subtype_list" name="SubType" parent="wecom_api.menu_wecom_agent_type" sequence="2" action="wecom_api.wecom_app_subtype_list_action" groups="base.group_erp_manager"/>

        <menuitem id="menu_wecom_service_api_error_pull" name="Pull the global error code" parent="wecom_base.menu_wecom_cron" action="ir_cron_act_pull_wecom_service_api_error" sequence="0"/>

        <menuitem id="menu_wecom_api" name="API" groups="base.group_system" parent="wecom_base.menu_wecom_root" sequence="700"/>

        <!-- <menuitem id="menu_wecom_service_api_token" name="Token" groups="base.group_system" parent="wecom_api.menu_wecom_api" action="action_view_wecom_service_api" sequence="10"/> -->

        <menuitem id="menu_wecom_service_api_list" name="List" groups="base.group_system" parent="wecom_api.menu_wecom_api" action="action_view_wecom_service_api_list" sequence="20"/>

        <menuitem id="menu_wecom_service_api_error" name="Error Code" groups="base.group_system" parent="wecom_api.menu_wecom_api" action="action_view_wecom_service_api_error" sequence="30"/>



    </data>
</odoo>
