<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>


        <!-- 3.招聘 -->
        <menuitem name="Recruitment" id="menu_wecom_hr_recruitment_main" parent="wecom_hrm.menu_wecom_hrm_root" groups="hr_recruitment.group_hr_recruitment_user" sequence="3"/>

        <menuitem name="By Job Positions" parent="menu_wecom_hr_recruitment_main" id="menu_wecom_hr_job_position" action="hr_recruitment.action_hr_job" sequence="1"/>

        <menuitem name="All Applications" parent="menu_wecom_hr_recruitment_main" id="menu_wecom_crm_case_categ_all_app" action="hr_recruitment.crm_case_categ0_act_job" sequence="2"/>

        <!-- 4.合同 -->
        <menuitem id="menu_wecom_hr_contract" name="Contracts" action="hr_contract.action_hr_contract" parent="wecom_hrm.menu_wecom_hrm_root" sequence="4" groups="hr_contract.group_hr_contract_manager"/>

        <!-- 5.考勤 -->
        <menuitem name="Attendances Manager" id="menu_wecom_hr_attendance_manage_attendances" parent="wecom_hrm.menu_wecom_hrm_root" sequence="5" groups="hr_attendance.group_hr_attendance_user"/>

        <menuitem name="Attendances" id="menu_wecom_hr_attendance_view_attendances" parent="menu_wecom_hr_attendance_manage_attendances" sequence="10" groups="hr_attendance.group_hr_attendance_user" action="hr_attendance.hr_attendance_action"/>

        <menuitem name="Employees" id="menu_wecom_hr_attendance_view_employees_kanban" parent="menu_wecom_hr_attendance_manage_attendances" sequence="15" groups="hr_attendance.group_hr_attendance_user" action="hr.open_view_employee_list_my"/>

        <!-- 90.报表菜单 -->
        <!-- 招聘报表 -->
        <menuitem name="Recruitment" id="hr_applicant_report_recruitment_menu" parent="wecom_hrm.menu_wecom_report_root" sequence="5"/>

        <menuitem name="Analysis" id="hr_applicant_report_menu" parent="hr_applicant_report_recruitment_menu" sequence="5" action="hr_recruitment.hr_applicant_action_analysis"/>

        <!-- 考勤报表 -->
        <menuitem id="menu_wecom_attendance_report_menu" name="Attendance" parent="wecom_hrm.menu_wecom_report_root" sequence="10"/>

        <menuitem id="menu_wecom_attendance_report" name="Attendance" action="hr_attendance.hr_attendance_action_graph" parent="menu_wecom_attendance_report_menu" sequence="10"/>



        <!-- 技能配置菜单 -->
        <menuitem id="menu_wecom_hr_skill_type" name="Skills" action="hr_skills.hr_skill_type_action" parent="wecom_hrm.menu_wecom_human_resources_configuration_employee" sequence="3" groups="base.group_no_one"/>

        <!-- 简历配置菜单 -->
        <menuitem id="menu_wecom_hr_configuration_resume" name="Resumé" parent="wecom_hrm.menu_wecom_hrm_manager_configuration" sequence="4" groups="base.group_no_one"/>

        <menuitem id="menu_wecom_hr_resume_line_type_menu" name="Types" action="hr_skills.hr_resume_type_action" parent="menu_wecom_hr_configuration_resume" sequence="3" groups="base.group_no_one"/>

        <!-- 出勤配置菜单 -->
        <menuitem id="menu_hr_attendance_settings" name="Attendance" parent="wecom_hrm.menu_wecom_hrm_manager_configuration" sequence="5" action="hr_attendance.action_hr_attendance_settings" groups="hr_attendance.group_hr_attendance_manager"/>

        <!-- 激励配置配置菜单 -->
        <menuitem id="menu_wecom_hr_gamification" parent="wecom_hrm.menu_wecom_hrm_manager_configuration" name="Challenges" sequence="100"/>

        <menuitem id="menu_wecom_gamification_badge" parent="menu_wecom_hr_gamification" action="gamification.badge_list_action" />

        <menuitem id="menu_wecom_gamification_challenge" parent="menu_wecom_hr_gamification" action="hr_gamification.challenge_list_action2" groups="hr.group_hr_user"/>

        <menuitem id="menu_wecom_gamification_goal" parent="menu_wecom_hr_gamification" action="hr_gamification.goals_menu_groupby_action2" groups="hr.group_hr_user"/>

        <!-- 招聘配置菜单 -->
        <menuitem id="menu_wecom_hr_recruitment_configuration" name="Recruitment Configuration" parent="wecom_hrm.menu_wecom_hrm_manager_configuration" sequence="2"/>

        <menuitem id="menu_wecom_hr_recruitment_global_settings" name="Settings" parent="menu_wecom_hr_recruitment_configuration" sequence="0" action="hr_recruitment.action_hr_recruitment_configuration" groups="base.group_system"/>

        <menuitem id="menu_wecom_hr_recruitment_stage" name="Stages" parent="menu_wecom_hr_recruitment_configuration" action="hr_recruitment.hr_recruitment_stage_act" groups="base.group_no_one" sequence="1"/>

        <menuitem id="menu_wecom_hr_applicant_category_menu" parent="menu_wecom_hr_recruitment_configuration" action="hr_recruitment.hr_applicant_category_action" sequence="2" groups="base.group_no_one"/>

        <menuitem id="menu_wecom_hr_recruitment_degree" name="Degrees" parent="menu_wecom_hr_recruitment_configuration" action="hr_recruitment.hr_recruitment_degree_action" sequence="5" groups="base.group_no_one"/>

        <menuitem parent="menu_wecom_hr_recruitment_configuration" id="menu_wecom_hr_job_position_config" action="hr_recruitment.action_hr_job_config" sequence="6"/>

        <menuitem id="menu_wecom_hr_applicant_refuse_reason" action="hr_recruitment.hr_applicant_refuse_reason_action" parent="menu_wecom_hr_recruitment_configuration" sequence="7"/>

        <menuitem id="menu_wecom_hr_recruitment_source" parent="menu_wecom_hr_recruitment_configuration" action="hr_recruitment.hr_recruitment_source_action" groups="base.group_no_one" sequence="8"/>

        <menuitem id="menu_wecom_hr_department" name="Departments" parent="menu_wecom_hr_recruitment_configuration" action="hr_recruitment.action_hr_department" sequence="8"/>

        <menuitem id="menu_wecom_hr_recruitment_menu_config_activity_type" action="hr_recruitment.mail_activity_type_action_config_hr_applicant" parent="menu_wecom_hr_recruitment_configuration" sequence="10"/>
    </data>
</odoo>