.o_auth_oauth_providers {
    .fa-weixin {
        color: #0886f0;!important;
    }

}

.social-icons{
    .wxwork {
        background: url(/wxwork_auth_oauth/static/src/img/wxwork1.png) no-repeat;
    }
}
.login-social
{
    .social-icon-color {
        opacity: .7!important;
        background-position: 0 -38px!important;
    }
    .icon-social-wxwork {
        background: url(/wxwork_auth_oauth/static/src/img/wxwork1.png) no-repeat;
    }
    .wxwork {
        background: url(/wxwork_auth_oauth/static/src/img/wxwork1.png) no-repeat;
    }
}
