@include media-breakpoint-down(sm) {
    .o_kanban_view {
        .o_kanban_record {
            border-left: 0;
            border-right: 0;
        }

        .o_kanban_record:first-child {
            border-top: 0;
        }
    }
}
