$eis-mail-thread-avatar-size: 36px !default;
$eis-mail-thread-icon-opacity: 0.6 !default;
$eis-mail-thread-side-date-opacity: 0.6 !default;
$eis-mail-thread-window-bg: #FAFAFA !default;
$eis-mail-thread-window-width: 325px !default;
$eis-mail-chatter-gap: 10px !default;
$eis-mail-chatter-mobile-gap: 2% !default;
$eis-mail-chat-header-height: 46px !default;
$eis-mail-attachment-image-size: 100px !default;
$eis-mail-sidebar-icon-opacity: 0.7 !default;
$eis-mail-chat-sidebar-width: 250px !default;
$eis-mail-partner-avatar-size: 24px !default;