<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- 1.组织架构 -->
        <menuitem
            id="menu_wxwork_organization_main"
            name="Organization"
            parent="wxwork_base.menu_wxwork_root"
            sequence="1"/>

            <menuitem
                id="menu_wxwork_organization_department_kanban"
                name="Department"
                action="hr.hr_department_kanban_action"
                parent="menu_wxwork_organization_main"
                sequence="0" 
                groups="wxwork_base.group_wxwork_user" />

            <menuitem
                id="menu_wxwork_organization_employee"
                name="Employee"
                action="hr.open_view_employee_list_my"
                parent="menu_wxwork_organization_main"
                sequence="1"
                groups="wxwork_base.group_wxwork_user" />

        <!-- 2.员工目录 -->
        <menuitem
            id="menu_wxwork_employee"
            name="Employee Directory"
            action="hr.hr_employee_public_action"
            parent="wxwork_base.menu_wxwork_root"
            sequence="2"/>

        <!-- 3.招聘 -->
        <menuitem
            name="Recruitment"
            id="menu_wxwork_hr_recruitment_main"
            parent="wxwork_base.menu_wxwork_root"
            groups="hr_recruitment.group_hr_recruitment_user"
            sequence="3"/>

            <menuitem 
                name="By Job Positions"            parent="menu_wxwork_hr_recruitment_main" 
                id="menu_wxwork_hr_job_position" 
                action="hr_recruitment.action_hr_job" 
                sequence="1"/>

            <menuitem
                name="All Applications"
                parent="menu_wxwork_hr_recruitment_main"
                id="menu_wxwork_crm_case_categ_all_app" 
                action="hr_recruitment.crm_case_categ0_act_job" 
                sequence="2"/>

        <!-- 90.报表菜单 -->
        <menuitem
            name="Reporting"
            id="menu_wxwork_report_main"
            parent="wxwork_base.menu_wxwork_root"
            groups="hr_recruitment.group_hr_recruitment_user"
            sequence="90"/>

            <menuitem 
                name="Recruitment Analysis" 
                id="hr_applicant_report_menu" 
                parent="menu_wxwork_report_main"
                sequence="5" 
                action="hr_recruitment.hr_applicant_action_analysis"/>

            <menuitem
                id="menu_wxwork_attendance_report"
                name="Attendance Reporting"
                action="hr_attendance.hr_attendance_action_graph"
                parent="menu_wxwork_report_main"
                sequence="10"/>

        <!-- HR配置菜单 -->
        <menuitem 
            id="menu_wxwork_hr_configuration" 
            name="Human Resources Configuration" 
            parent="wxwork_base.menu_wxwork_manager_configuration" 
            sequence="1"
            groups="hr.group_hr_manager"/>
            
            <menuitem
                id="hr_wxwork_menu_configuration"
                action="hr.hr_config_settings_action"
                parent="menu_wxwork_hr_configuration"
                groups="base.group_system"
                sequence="0"/>            
            <menuitem
                id="menu_wxwork_view_hr_job"
                action="hr.action_hr_job"
                parent="menu_wxwork_hr_configuration"
                sequence="1"/>

            <menuitem
                id="menu_wxwork_human_resources_configuration_employee"
                name="Employee"
                parent="menu_wxwork_hr_configuration"
                groups="base.group_no_one"
                sequence="1"/>

                <menuitem
                    id="menu_wxwork_view_employee_category_form"
                    name="Tags"
                    action="hr.open_view_categ_form"
                    parent="menu_wxwork_human_resources_configuration_employee"
                    groups="base.group_no_one"
                    sequence="1"/>
                <menuitem
                    id="menu_wxwork_hr_skill_type"
                    name="Skills"
                    action="hr_skills.hr_skill_type_action"
                    parent="menu_wxwork_human_resources_configuration_employee"
                    sequence="3"
                    groups="base.group_no_one"/>

            <menuitem
                id="menu_wxwork_hr_department_tree"
                action="hr.hr_department_tree_action"
                parent="menu_wxwork_hr_configuration"
                sequence="2"
                groups="hr.group_hr_user"/>

            <menuitem
                id="menu_wxwork_hr_configuration_resume"
                name="Resumé"
                parent="menu_wxwork_hr_configuration"
                sequence="4"
                groups="base.group_no_one"/>

                <menuitem
                    id="menu_wxwork_hr_resume_line_type_menu"
                    name="Types"
                    action="hr_skills.hr_resume_type_action"
                    parent="menu_wxwork_hr_configuration_resume"
                    sequence="3"
                    groups="base.group_no_one"/>

            <menuitem
                id="menu_wxwork_config_plan"
                name="Activity Planning"
                parent="menu_wxwork_hr_configuration"
                groups="hr.group_hr_manager"
                sequence="100"/>

                <menuitem
                    id="menu_wxwork_config_plan_types"
                    name="Planning Types"
                    action="hr.hr_plan_activity_type_action"
                    parent="menu_wxwork_config_plan"
                    groups="base.group_no_one"
                    sequence="99"/>

                <menuitem
                    id="menu_wxwork_config_plan_plan"
                    name="Plans"
                    action="hr.hr_plan_action"
                    parent="menu_wxwork_config_plan"
                    groups="hr.group_hr_manager"
                    sequence="100"/>

            <menuitem 
                id="menu_wxwork_hr_gamification" 
                parent="menu_wxwork_hr_configuration" 
                name="Challenges" 
                sequence="100"/>

                <menuitem 
                    id="menu_wxwork_gamification_badge" 
                    parent="menu_wxwork_hr_gamification" 
                    action="gamification.badge_list_action" />

                <menuitem 
                    id="menu_wxwork_gamification_challenge" 
                    parent="menu_wxwork_hr_gamification" 
                    action="hr_gamification.challenge_list_action2" 
                    groups="hr.group_hr_user"/>

                <menuitem 
                    id="menu_wxwork_gamification_goal" 
                    parent="menu_wxwork_hr_gamification" 
                    action="hr_gamification.goals_menu_groupby_action2" 
                    groups="hr.group_hr_user"/>
    
        <!-- 招聘配置菜单 -->

    </data>
</odoo>