// = SideNavbar Variables
// ============================================================================
// No CSS hacks, variables overrides only


$o-sidenav-logo-background: $o-view-background-color !default;
$o-sidenav-background: $o-view-background-color !default;
$o-sidenav-entry-color: $o-gray-900 !default;