.o_form_field_markdown .md-editor .md-header .md-controls .o_field_translate {
    font-size: 15px !important;
}

.o_form_field_markdown .md-editor.md-fullscreen-mode .md-header .md-controls .o_field_translate {
    display: none !important;
}

.o_form_field_markdown .dz-preview {
    display: inline-block;
    margin: 0.5em;
}

.o_form_field_markdown .dz-preview .dz-success-mark svg {
    background-color: green;
    border-radius: 30px;
    width: 32px;
    height: 32px;
}

.o_form_field_markdown .dz-preview .dz-error-mark svg {
    background: red;
    border-radius: 30px;
    width: 32px;
    height: 32px;
}